/* @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: url(./img/banner/header.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner{
    background: url(./img/banner/banner.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.blog-2{
    background: url(./img/banner/blog-1.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.blog-4{
    background: url(./img/banner/blog-4.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}